
<div class="container">
    <h1 class="title">Computadora</h1>
    <div class="containerInput">

        <div class="inputsSolicitante">
            <label for="">Solicitante</label>
            <input type="text">
            <label  for="">Gerencia</label>
            <input type="text">
            <label for="">Sector</label>
            <select name="" id="">
                <option value=""></option>
            </select>
            <label for="">Telefono</label>
            <input type="text" name="" id="">
        </div>
        
        <div class="datosComputadora">
            <div class="nombreEquipo">
                <label>Nombre del Equipo</label>
                <select name="" id="">
                    <option value=""></option>
                </select>
                <input type="text" id="identComputadora">
    
            </div>
            <label for="">Team Viewer</label>
            <input type="text">
        </div>
    
        <div class="accesorios">
            <label for="">Accesorios</label>
            <select name="" id="">
                <option value="">
                </option>
            </select>
        </div>

    </div>

    <div class="detalleIngreso">
        <label for="">Detalle del Ingreso</label>
        <input type="textarea">
    </div>
    
</div>
