
<div class="container">
    <h1 class="title">Computadora</h1>
    <div class="containerInput">

        <div class="inputsSolicitante">
            <label for="">Solicitante</label>
            <input type="text">
            <label  for="">Gerencia</label>
            <input type="text">
            <label for="">Sector</label>
            <select name="" id="">
                <option value=""></option>
            </select>
            <label for="">Telefono</label>
            <input type="text" name="" id="">
        </div>
        
        <div class="datosComputadora">
            <div class="nombreEquipo">
                <label>Nombre del Equipo</label>
                <select name="" id="">
                    <option value=""></option>
                </select>
                <input type="text" id="identComputadora">
    
            </div>
            <section class="input-TeamViewer">
                <label for="">Team Viewer</label>
                <input type="text">
            </section>
                <div class="detalleIngreso">
                    <label for="">Detalle del Ingreso</label>
                    <textarea id="story" name="story" rows="5" cols="50"></textarea>
                        
                </div>
                <div class="accesorios">
                    <label for="">Accesorios</label>
                    <input type="checkbox" >
                    
                </div>
        </div>
    </div>
    <div class="componentAcessorios">
        <label for="">Perifirico</label>
        <select name="" id="" >
            <option value="">

            </option>
        </select>
        <input type="text" placeholder="descripcion">
        <button disabled="disabled" (click)="addAccesorio()">+</button>
        <div class="tableAccesorios">
            <table>
                <thead>
                    <tr>
                      <th colspan="1">Perifirico</th>
                      <th colspan="1">Descripcion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
            </table>
        </div>
    </div>
    <button>Cargar</button>
    <button>Cancelar</button>
    <button>Limpiar</button>
    
    
</div>
