<div class="container">
  <h1 class="title">Computadora</h1>

  <div class="containerInput">
    <div class="inputsSolicitante">
      <label for="">Solicitante</label>
      <input type="text" [(ngModel)]="solicitante" />
      <label for="">Gerencia</label>
      <input type="text" [(ngModel)]="gerencia" />
      <label for="">Sector</label>
      <select [(ngModel)]="sectorSeleccionado">
        <option *ngFor="let s of sectores" [ngValue]="s">
          {{ s.name }}
        </option>
      </select>

      <label for="">Telefono</label>
      <input type="text" name="" id="" [(ngModel)]="telefono" />
    </div>

    <div class="datosComputadora">
      <h3>Numero Orden de Reclamo: {{ idOrdenReclamo }}</h3>
      <div class="nombreEquipo">
        <label>Nombre del Equipo:</label>
        <p>{{ sectorSeleccionado?.nomenclatura }} -</p>
        <input type="text" id="identComputadora" [(ngModel)]="nombreEquipo" />
      </div>
      <section class="input-TeamViewer">
        <label for="">Team Viewer</label>
        <input type="text" [(ngModel)]="teamViewer" />
      </section>

      <div class="detalleIngreso">
        <label for="">Detalle del Ingreso</label>
        <textarea
          id="story"
          name="story"
          rows="5"
          cols="50"
          [(ngModel)]="detalleIngreso"
        ></textarea>
      </div>

      <div class="accesorios">
        <label for="">Accesorios</label>
        <input type="checkbox" [(ngModel)]="addAccesorioBoolean" />
      </div>
    </div>
  </div>

  <div class="componentAcessorios" *ngIf="addAccesorioBoolean">
    <div class="inputsAccesorio">
      <label for="">Perifirico</label>
      <select name="" id="" [(ngModel)]="perifericosSeleccionado">
        <option
          [value]="accesorio.name"
          *ngFor="let accesorio of listAccesorio"
        >
          {{ accesorio.name }}
        </option>
      </select>
      <input
        type="text"
        placeholder="Descripcion"
        [(ngModel)]="descripcionAccesorio"
      />
      <button (click)="addAccesorio()">+</button>
      <p *ngIf="errorCargaAccesorio">{{ errorMensageAccesorio }}</p>
    </div>

    <div class="tableAccesorios">
      <table>
        <thead>
          <tr>
            <th colspan="1">Periférico</th>
            <th colspan="1">Descripción</th>
            <th colspan="1">Acciones</th>
            <!-- Nueva columna para acciones -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accesorio of listAccesorioSelected; let i = index">
            <td>{{ accesorio.name }}</td>
            <td>{{ accesorio.discripcion }}</td>
            <td>
              <button (click)="eliminarAccesorio(i)">X</button>
              <!-- Botón para eliminar -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="optionButton">
    <button (click)="cargarComputadora()">Cargar</button>
    <button routerLink="/">Cancelar</button>
    <button (click)="limpiar()">Limpiar</button>
  </div>
</div>
