.container {
  @apply w-fit h-fit mt-3;
}

.containerInput {
  @apply grid grid-cols-2 gap-10;
}

.containerInput input option {
  @apply text-black;
}

.title {
  @apply text-3xl font-bold h-12 border-b-2 w-fit;
}

//Inputs
.inputsSolicitante {
  @apply flex flex-col mt-4;
}

.inputsSolicitante label {
  @apply font-semibold text-base;
}

.inputsSolicitante input {
  @apply text-black;
}

.inputsSolicitante select {
  @apply text-black;
}

////Estilos datos Impresora
.datosImpresora {
  @apply flex flex-col m-2;
}

.datosImpresora input {
  @apply text-black;
}

.datosImpresora label {
  @apply font-semibold;
}

.datosImpresora h3 {
  @apply font-bold text-xl border-b w-fit my-3;
}

//Estilos Nombre Equipo
.nombreEquipo {
  @apply flex flex-row my-2;
}
.nombreEquipo label {
  @apply mr-2;
}
.nombreEquipo select {
  @apply mr-2;
}
.nombreEquipo label {
  @apply font-semibold;
}

.nombreEquipo p {
  @apply mr-3 font-bold w-10;
}
.nombreEquipo input {
  @apply text-black;
}

.detalleIngreso label {
  @apply mr-2 block;
}

.detalleIngreso textarea {
  padding: 10px;
  color: black;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

//Estilos Botones carga
.optionButton {
  @apply flex m-auto justify-center items-center m-3;
}

.optionButton button {
  @apply m-4 font-extrabold text-2xl;
}

.optionButton button:hover {
  @apply text-black;
}
