.container{
    @apply  flex justify-between items-center h-fit w-full max-w-full border-b-2
}

.title{
    @apply font-semibold text-5xl m-4 mx-10 font-sans cursor-pointer
}

.rutas{
    @apply m-4
}

.rutas button{
    @apply mr-6  text-xl  
}
.rutas button:first-child{
    @apply mr-6 text-xl  
}

// Agrega estas clases personalizadas
.underline-on-hover {
    position: relative;
    transition: underline 0.3s ease-in-out;
  }
  
  .underline-on-hover:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #fff; 
     // Cambia el color del subrayado según tus necesidades
  }

.rutaActiva{
    @apply underline-on-hover font-bold
}