.container {
  @apply flex justify-between items-center h-fit w-full max-w-full border-b-2;
}

.title {
  @apply font-semibold text-5xl m-4 mx-10 font-sans cursor-pointer;
}

.rutas button {
  @apply mr-6  text-xl;
}
.rutas button:first-child {
  @apply mr-6 text-xl;
}

nav {
  @apply w-full  text-2xl flex justify-end mr-20 align-middle items-center mr-6;
}

nav button {
  @apply m-2 mr-8 rounded-xl;
}

ul {
  @apply flex flex-row;
}

// Agrega estas clases personalizadas
.underline-on-hover {
  position: relative;
  transition: underline 0.3s ease-in-out;
}

.underline-on-hover:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #fff;
  // Cambia el color del subrayado según tus necesidades
}

.rutaActiva {
  @apply underline-on-hover font-bold;
}

.menu-horizontal > li:hover {
  background-color: black;
  @apply rounded-2xl;
}
.menu-horizontal > li.activate:hover {
  background-color: black;
  @apply font-bold   text-white rounded-2xl;
}
.menu-horizontal > li.active > button:hover {
  background-color: black;
  @apply font-bold   text-white rounded-2xl;
}
.menu-horizontal > li.activate:hover > button {
  background-color: black;
  @apply font-bold   text-white rounded-2xl;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-horizontal li:hover .menu-vertical {
  display: block;
  @apply text-lg;
}
.menu-vertical li:hover {
  background-color: black;
}

.menu-vertical li a {
  display: block;
  color: white;
  text-decoration: none;
  @apply p-4;
}
