<div class="container">
    <h1 class="title" routerLink="">
        EMSA
    </h1>

    <div class="rutas">
        <button routerLink="/Carga" routerLinkActive="rutaActiva" class="underline-on-hover">Carga</button>
        <button routerLink="/Busqueda" routerLinkActive="rutaActiva" class="underline-on-hover">Búsqueda</button>
        <button routerLink="/Seguimiento" routerLinkActive="rutaActiva" class="underline-on-hover">Seguimiento</button>
        <button routerLink="/Sectores" routerLinkActive="rutaActiva" class="underline-on-hover">Sectores</button>
    </div>



</div>